<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()"*ngIf="!isLoading">
    <mat-form-field>
      <input
       matInput
        type="text"
        formControlName = "title"
      placeholder="Post title"
      />
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button"(click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
       <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea
       matInput
       rows="4"
       formControlName="content"
      placeholder="Post content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post content.</mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">
      Save Post
    </button>
  </form>
</mat-card>
